spring:
  application:
    name: ProductService
  datasource:
    url: jdbc:mysql://localhost:3306/testtest?useUnicode=true&characterEncoding=utf8&useSSL=false
    username: root
    password: Krishna7546@#
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
server:
  port: 8081