spring:
  application:
    name: ProductService
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:3306/productdb?useUnicode=true&characterEncoding=utf8&useSSL=false
    username: root
    password: Krishna7546@#
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
server:
  port: 8080