server:
  port: 9296

spring:
  application:
    name: ConfigServer
  cloud:
    config:
      server:
        git:
          uri: https://github.com/mindexpert7546/spring-app-config
          clone-on-start: true